<!DOCTYPE HTML>
<html>
<head>
	<title><%= title %></title>
<<<<<<< HEAD
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
	<%= csrf_meta_tag %>
</head>
	<body>
		<%= yield %>
	</body>
=======
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
</head>
<body>
<div class="container">
	<%= render 'layouts/header' %>
	<section class="round">
		<%= yield %>
	</section>
	<%= render 'layouts/footer' %>
</div>
</body>
>>>>>>> filling-in-layout
</html>